/* ==================== CameraSettingsDialog 样式 ==================== */

/* -------------------- 窗口关闭按钮 -------------------- */
#CameraSettingsDialog #pushButton {
    background-color: transparent;
    border: none;
}

#CameraSettingsDialog #pushButton:hover {
    background-color: #f22828;
}

#CameraSettingsDialog #pushButton:pressed {
    background-color: #f35c5c;
}
